[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MX Compton Manager
Name[am]=MX የ ኮምፒዩተር አስተዳዳሪ
Name[ca]=MX Compton Manager
Name[cs]=MX Compton Manager
Name[de]=MX Compton Manager
Name[el]=MX Compton Manager
Name[es]=MX Compton Gestor
Name[fr]=MX Gestionnaire de Compton
Name[hu]=MX Compton kezelő
Name[it]=MX Compton Manager
Name[ja]=MX Compton の管理
Name[lt]=MX Compton tvarkytuvė
Name[nl]=MX Compton Beheer
Name[pt]=MX-Gestor do compositor Compton
Name[ru]=MX Compton Менеджер
Name[sk]=MX Compton Manager
Name[sv]=MX Compton Hanterare
GenericName=MX Compton Manager
Comment=Configure and launch the Compton compositor
Comment[ca]=Configura i engega el compositor Compton
Comment[cs]=Konfiguruje a spouští Compton kompozitor
Comment[de]=Konfiguriere und starte den Compton Compositor
Comment[el]=Διαμόρφωση και εκτέλεση του Compton
Comment[es]=Configura y ejecutará el compositor Compton
Comment[fr]=Lancer et configurer le compositeur Compton
Comment[hu]=A Compton kompozitáló elindítása és konfigurálása
Comment[it]=Configura e avvia Compton Compositor
Comment[ja]=Compton コンポジットの設定・起動
Comment[lt]=Konfigūruoti ir paleisti Compton tvarkytoją
Comment[nl]=Configureer en start de Compton compositor
Comment[pt]=Configurar e executar o compositor de efeitos visuais Compton
Comment[ru]=Настройка и запуск композитного менеджера Compton
Comment[sk]=Konfigurácia a spustenie Comptonu - efekty okien
Comment[sv]=Ställ in och starta Compton compositor
Exec=mx-compton
Icon=preferences-system-windows
Categories=Settings;DesktopSettings;Qt;LXQt;MX-Setup;
Terminal=false
