[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MX Compton Manager
Name[am]=MX የ ኮምፒዩተር አስተዳዳሪ
Name[ar]=MX Compton Manager
Name[bg]=MX Compton Manager
Name[ca]=MX Compton Manager
Name[cs]=MX Compton Manager
Name[da]=MX Compton-håndtering
Name[de]=MX Compton Manager
Name[el]=MX Compton Manager
Name[es]=MX Gestor Compton
Name[et]=MX Compton Manager
Name[eu]=MX Compton Manager
Name[fa]=MX Compton Manager
Name[fi]=MX Compton Manager
Name[fr]=MX Gestionnaire de Compton
Name[he_IL]=MX Compton Manager
Name[hi]=MX Compton Manager
Name[hr]=MX Compton Manager
Name[hu]=MX Compton kezelő
Name[id]=MX Compton Manager
Name[is]=MX Compton Manager
Name[it]=MX Compton Manager
Name[ja_JP]=MX Compton Manager
Name[ja]=MX Compton の管理
Name[kk]=MX Compton Manager
Name[ko]=MX Compton Manager
Name[lt]=MX Compton tvarkytuvė
Name[mk]=MX Compton Manager
Name[nb]=MX Compton Manager
Name[nl]=MX Compton Beheer
Name[pl]=MX Menedżer Compton
Name[pt_BR]=MX Gestor do compositor Compton
Name[pt]=MX-Gestor do compositor Compton
Name[ro]=MX Compton Manager
Name[ru]=MX Compton Менеджер
Name[sk]=MX Compton Manager
Name[sl]=MX Compton Manager
Name[sq]=MX Compton Manager
Name[sr]=MX Compton Manager
Name[sv]=MX Compton Hanterare
Name[tr]=MX Compton Manager
Name[uk]=MX Compton Manager
Name[zh_CN]=MX Compton Manager
Name[zh_TW]=MX 管理 Compton
Comment=Configure and launch the Compton compositor
Comment[am]=Configure and launch the Compton compositor
Comment[ar]=Configure and launch the Compton compositor
Comment[bg]=Configure and launch the Compton compositor
Comment[ca]=Configura i engega el compositor Compton
Comment[cs]=Konfiguruje a spouští Compton kompozitor
Comment[da]=Konfigurer og start Compton-compositoren
Comment[de]=Konfiguriere und starte den Compton Compositor
Comment[el]=Διαμόρφωση και εκτέλεση του Compton
Comment[es]=Configura y ejecutará el compositor Compton
Comment[et]=Configure and launch the Compton compositor
Comment[eu]=Configure and launch the Compton compositor
Comment[fa]=Configure and launch the Compton compositor
Comment[fi]=Configure and launch the Compton compositor
Comment[fr]=Lancer et configurer le compositeur Compton
Comment[he_IL]=Configure and launch the Compton compositor
Comment[hi]=Configure and launch the Compton compositor
Comment[hr]=Configure and launch the Compton compositor
Comment[hu]=A Compton kompozitáló elindítása és konfigurálása
Comment[id]=Configure and launch the Compton compositor
Comment[is]=Configure and launch the Compton compositor
Comment[it]=Configura e avvia Compton Compositor
Comment[ja_JP]=Configure and launch the Compton compositor
Comment[ja]=Compton コンポジットの設定・起動
Comment[kk]=Configure and launch the Compton compositor
Comment[ko]=Configure and launch the Compton compositor
Comment[lt]=Konfigūruoti ir paleisti Compton tvarkytoją
Comment[mk]=Configure and launch the Compton compositor
Comment[nb]=Configure and launch the Compton compositor
Comment[nl]=Configureer en start de Compton compositor
Comment[pl]=Skonfiguruj i uruchom kompozytor Compton
Comment[pt_BR]=Configurar e executar o compositor de efeitos visuais Compton [compton-conf]
Comment[pt]=Configurar e executar o compositor de efeitos visuais Compton [compton-conf]
Comment[ro]=Configure and launch the Compton compositor
Comment[ru]=Настройка и запуск композитного менеджера Compton
Comment[sk]=Konfigurácia a spustenie Comptonu - efekty okien
Comment[sl]=Configure and launch the Compton compositor
Comment[sq]=Configure and launch the Compton compositor
Comment[sr]=Configure and launch the Compton compositor
Comment[sv]=Ställ in och starta Compton compositor
Comment[tr]=Configure and launch the Compton compositor
Comment[uk]=Configure and launch the Compton compositor
Comment[zh_CN]=Configure and launch the Compton compositor
Comment[zh_TW]=設定、啟動 Compton 桌面排版程式
Exec=mx-compton
Icon=preferences-system-windows
Categories=Settings;DesktopSettings;Qt;LXQt;MX-Setup;
Terminal=false
