[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MX Compton Manager
Name[ca]=MX Compton Manager
Name[de]=MX Compton Manager
Name[es]=MX Compton Gestor
Name[fr]=MX Gestionnaire de Compton
Name[it]=MX Compton Manager
Name[ja]=MX Compton の管理
Name[nl]=MX Compton Beheer
Name[pt]=MX_Gestor do compositor Compton
Name[ru]=MX Compton Менеджер
Name[sv]=MX Compton Hanterare
GenericName=MX Compton Manager
Comment=Configure and launch the Compton compositor
Comment[ca]=Configura i engega el compositor Compton
Comment[de]=Konfiguriere und starte den Compton Compositor
Comment[es]=Configura y ejecutará el compositor Compton
Comment[fr]=Lancer et configurer le compositeur Compton
Comment[it]=Configura e avvia Compton Compositor
Comment[ja]=Compton コンポジットの設定・起動
Comment[nl]=Configureer en start de Compton compositor
Comment[pt]=Configurar e executar o compositor de efeitos visuais Compton
Comment[ru]=Настройка и запуск композитного менеджера Compton
Comment[sv]=Ställ in och starta Compton compositor
Exec=mx-compton
Icon=preferences-system-windows
Categories=Settings;DesktopSettings;Qt;LXQt;MX-Setup;
Terminal=false